body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #000000;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.player-one-piece {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.square {
   background-color: #458b00;
   border-radius: 0%;
   height: 50px;
   width: 50px;
   position: relative;
   border: 2px solid #000000;
}

.player-two-piece {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
  border: 1px solid #000000;
}

/* .square {
  width: 50px;
  height: 50px;
  border: 2px solid #000000;
  Margin: auto;
  background-color: #458b00;
  border-spacing: 15px;
  float: left;
  position: relative;
  display: table;
}

.player-one-piece {

  position: absolute;
    background-color: #ffffff;
   border-radius: 50%;
   height: 25px;
   width: 25px;
   top: 50%;
   left: 50%;
   margin: -25px 0px 0px -25px;
   border: 2px solid #000000;
} */

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
